@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

.app{
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: relative;
  font-family: 'Baloo Bhai 2', cursive;
  color: white;
  overflow: hidden;
  transition-duration: 1s ;
  
}
.search-input{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  right: 180px;
  top: 40px;
}
.weather-container > h2 {
  position: absolute;
  font-size: 64px;
  left:10vw;
  top: 30vh;
}

.top-part{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  left:10vw;
  top: 40vh;

}
.condition-high-low{
 margin-left: 15px;

}
.top-part >h1 {
  font-size: 160px;
}
.lists{
  width: 40vh;
  height: 5vh;
  position: absolute;
  top: 8vh;
  right: 5vh;
}